@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1220px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

button {
  outline: none;
  border: none;
  background: transparent;
  display: inline-block;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  display: block;
}

input {
  border: none;
  outline: none;
  background: transparent;
}
.font-crimson {
    font-family: "Crimson Text", serif;
}
.font-work {
    font-family: "Work Sans", sans-serif;
}
.translate-center {
  transform: translate(-50%, -50%);
}